<nav id="headerNav">
  <%= link_to "Home", main_app.root_path %>
  <a href="http://tools.pigrider.com/">PigRider Tools</a>
  <a href="http://blogs.pigrider.com/">PigRider Blogs</a>
  <%= link_to "About Us", pigrider_layout.aboutUs_path %>
  <%= link_to "Contact Us", pigrider_layout.contactUs_path %>
</nav>